.App {
  text-align: center;
  /* padding: 0 50px; */
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #C3DBBF;
  font-family: 'Montserrat';
}

h2 {
  text-transform: capitalize;
  font-family: 'Montserrat';
}

p {
  font-family: 'Montserrat';
}

/* a {
  color: hotpink;
} */

hr { 
  /* display: block;
  width: 95%;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden; */
  border-style: inset;
  border-width: 1px;
  border: 0.5px solid #D3D3D3;

}

#main-container {
  padding: 50px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Second Header or Navbar ------------------------------ */
#container {
  text-align: center;
  background-color: #F0DAA1;
  height: 45px;
  border-bottom: 1px solid #D3D3D3;
}

#container div {
  width: 10%;
  display: inline-block;
  margin-top: -16px;
}

#container:after {
  /* content: ''; */
  width: 100%; 
  display: inline-block;
}


/* Main body of homepage --------------------------------------- */
#landing-image {
  background-image: url('./assets/landing.jpeg');
  padding: 100px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 30% 35%;
  background-size: cover;
  position: relative;
}

#landing-text {
  text-align: left;
  position: absolute;
  font-size: 25px;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: 500;
  font-family: 'Montserrat';
}

#promises{
  /* background-color: #F0DAA1; */
  margin: 0;
  /* padding: 10px 0 10px 100px; */
  height: 15vh; 
  text-align: left;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
}

#promises div {
  width: 100%;
  /* display: inline-block; */
  /* padding: 30px; */
  /* border: 1px solid black; */
}

#promises:after {
  content: '';
  width: 100%; 
  display: inline-block;
}

#homepage-cards {
  height: 150%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 35px;

}

#homepage-cards div {
  /* height: 125%; */
  display: inline-block;
  /* width: 40vh; */
  padding: 25px 0px;
  /* border: 1px solid black; */
  text-align: center;
}


#featured {
  background-color: #white;
  padding: 100px;
  text-align: left;
}

#categories {
  background-color: #white;
  padding: 0 100px;
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* background-color: #2196F3; */
  padding: 15px;
  grid-gap: 15px;
  width: 100%;
  grid-template-rows: 160px 35px 160px 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* align-content: space-between; */
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 1.5rem;
  font-size: 20px;
  text-align: center;
  width: 27vh;
}

#about {
  background-color: #white;
  padding: 100px;
  text-align: right;
  background-image: url('./assets/cupcake.jpg');
  height: 300px;
  background-repeat: no-repeat;
  background-position: -250px -295px;
  background-size: cover;
  /* position: relative; */
}

#break {
  padding: 15px;
}


/* Footer -------------------------------------------*/
#footer {
  background-color: #F0DAA1;
  margin: 0;
  padding: 10px 0 10px 100px;
  height: 15vh; 
  text-align: left;
}

#footer div {
  width: 19%;
  display: inline-block;
  /* padding: 30px 0; */
  /* border: 1px solid black; */
}

#footer:after {
  content: '';
  width: 100%; 
  display: inline-block;
}

#newsletter-div {
  text-align: center;
  background-color: #F0DAA1;
  padding: 30px 0 0 40px;
  /* width: 100%; */
}

#newsletter-div div {
  display: inline-block;
  padding: 0 100px 0 100px;
}

#newsletter {
  height: 4vh;
  width: 10vh;
  border-radius: 5px;
  border: 1px solid black;
}

/* contact buttons at bottom of footer ----------------------*/
#contact-div {
  height: 100%;
  padding: 40px 0 0 0;
  text-align: center;
  background-color: #F0DAA1;
}

#contact-div div {
  width: 8%;
  display: inline-block;
  /* border: 1px solid black; */
  padding: 0 0 25px 0;
}

#contact-div:after {
  /* content: ''; */
  width: 100%; 
  display: inline-block;
}

/*signup ------------------------------------------------ */
#signup-border {
  text-align: center;
  padding: 50px;
  background-color: #C3DBBF;
}

#signup-container {
  background-color: white;
  height: 100%;
  width: 100vh;
  padding: 20px 75px 10px 75px;
  border: 1px solid black;
  display: inline-block;
}

#signup-container p {
  font-size: 0.9em;

}
#signup-container a {
  text-decoration: none;
  color: #C3DBBF;
}

#signup-container div {
  height: 5vh;
  width: 25vh;
  display: inline-block;
  /* margin-left: -25px; */
  /* padding: 0 60px 0 0; */
  /* border: 1px solid black; */
}

#signup-container:after {
  /* content: ''; */
  width: 100%; 
  display: inline-block;
}

#signup-form {
  width: 30vh;
  height: 20vh;
  padding: 25px;
}

/*Product page ------------------------------------------------ */
#product-page {
  text-align: center;
  display: grid;
  /* border: 1px solid black; */
  grid-template-columns: auto auto;
}

#product-image {
  display: inline-block;
  padding: 50px 25px;
  /* border: 1px solid pink; */
}

#display-image {
  width: 100%;
  height: 100%;
}

#product-info {
  display: inline-block;
  width: 30%;
  /* border: 1px solid orange; */
  text-align: left;
  padding: 0 0 0 70px;
}

#extra-info {
  text-align: left;
  width: 80%;
  /* border: 1px solid purple; */
}

.fa fa-star checked {
  font-size: 26px;
}

.fa fa-star {
  font-size: 26px;
}

#ratings {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: -10px;

}

#ratings div {
  /* border: 1px solid black; */
  height: 30px;
  margin-top: -15px;
  width: 120px;
}

.checked {
  color: pink;
}

#product-list {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

#products {
  display: inline-block;
  width: 300px;
  height: 400px;
  padding: 20px;
}

/* PROFILE alignment ------------------------------------------- */
#profile-header {
  text-decoration: none;
  color:black;
  padding: 50px 50px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 80%;
}

#profile-header div {
  /* padding: 100px 0 0 0; */
  /* width: 65vh; */
  height: 100%;
  /* border: 1px solid black; */
}

#profile-header:after {
  /* content: ''; */
  width: 100%; 
  display: inline-block;
}

#social {
  display: grid;
  grid-template-columns: auto auto;
  /* border: 1px solid black; */
  /* height: 20px; */
  width: 60%;
}

#social div {
  /* border: 1px solid black; */
  height: 20px;
  
}

#edit-user {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

#edit-user div{
  border: 1px solid white;
  height: 34%;
}

#user-stuff {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* Cart page ----------------------------------------------- */
#cart-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-rows: 160px 35px; */
  grid-gap: 20px;
  border: 1px solid #D3D3D3;
  width: 80%;
  /* height: 70vh; */
  /* padding: 20px; */
}

#cart-container div {
  /* border: 1px solid red; */
  text-align: left;
  padding: 0 15px 0 15px;
}

#item-1 {
  grid-column: 1 / 3;
}

#item-2 {
  border-left: 1px solid #D3D3D3;
  padding: 0 5px 0 25px;
  background-color: #dcead9;
}

#item-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  /* border: 1px solid black; */
  /* height: 20vh; */
}

#cart-item {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#cart-item div {
  padding: 0px 0px 15px 0px;
  border-bottom: 1px solid #D3D3D3;
}


#total-list {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

/* checkout */
#checkout {
  /* background-color: green; */
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  /* border: 1px solid black; */
  width: 80%;

  box-shadow: 0 1px 3px 0 #6A6C6E;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  padding: 10px;
}

#checkout div {
  /* border: 1px solid orange; */
  /* background-color: #dcead9; */
  /* padding: 0 0 0 10px; */
}

#payment {
  display: grid;
  grid-template-columns: auto auto;
}

#customer {
  color: #D3D3D3;
}

/* Stripe styling */
.MyCardElement {
  /* height: 40px;
  padding: 10px 12px;
  width: 40%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px; */

  /* box-shadow: 0 1px 3px 0 black;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease; */
 
  width: 50%;
  padding: 4px;
  border-bottom: 1px solid #A9A9A9;
}

#checkout-label {
  /* position: absolute; */
  width: 100%;
  /* left: 0; */
  /* bottom: 8px; */
  color: #dcead9;
  
}

.MyCardElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.MyCardElement--invalid {
  border-color: #fa755a;
}

.MyCardElement--webkit-autofill {
  background-color: #fefde5 !important;
}



/* add a product page */
#add-a-product-container {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  /* border: 1px solid black; */
  width: 80%;

  box-shadow: 0 1px 3px 0 #a9a9a9;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  background-color: #ced8d9;
  /* padding: 10px; */
}

#add-a-product-container div {
  /* padding: 2px; */
  /* border: 1px solid black; */
  
}

#add-product {
  /* width: 30vh; */
  /* height: 20vh; */
  /* padding: 25px; */
}